@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: Montserrat;
}

* {
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top right, rgb(124, 127, 163), rgb(136, 141, 167), rgb(148, 156, 172), rgb(159, 170, 176), rgb(171, 185, 181), rgb(183, 199, 185), rgb(182, 178, 167), rgb(182, 158, 148), rgb(181, 137, 130), rgb(180, 116, 112), rgb(180, 96, 93), rgb(179, 75, 75));
}
.App-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  height: 550px;
}

.flag-img {
  width: 100%;
  height: 400px;
}

.form-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-input {
  width: 300px;
  height: 30px;
  margin: 20px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-size: 20px;
  padding-left: 20px;
}
.form-input:hover {
  cursor: pointer;
}

.form-button {
  font-family: Montserrat;
  height: 30px;
  margin: 20px;
  color: white;
  border: none;
  background-color: grey;
  outline: none;
}
.form-button:hover {
  cursor: pointer;
}



.error-text {
  text-align: center;
  font-size: 30px;
  color: white;
}



@media (max-width: 800px) {
  .App-info {
    width: 560px;

  }
}

@media (max-width: 568px) {
  .App-info {
    width: 300px;

  }
  .form-block {
    flex-direction: column;
  }
  .form-input {
    width: 90%;
  }
}